html, body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background: #F7F7F7;
}

h1, h2, h3, h4, p {
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.3rem;
}

p {
    font-size: 1.3rem;
}

.logo {
    width: 130px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 2rem;
}
.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    text-transform: uppercase;
    place-content: center;
}

li {
    background: white;
    padding: 1rem 2rem;
    border-radius: 4px;
    cursor: pointer;
}

li:hover {
    border: 2px solid #EE2211;
}

/* article */


    /* primeira parte */

    .grid {
        margin: 0 auto;
        width: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 80px auto;

    }

    .conteudo {
        text-align: right;
        background: white;
        padding: 2rem;
        display: grid;
        gap: 1.6rem;
        justify-items: right;   
        place-content: center;   
        position: relative;  
    }
    
    .conteudo::before {
        content: "";
        background: #EE2211;
        width: 60px;
        height: 4px;
        position: absolute;
        top: 30px;
        right: -30px;
    }
    
    div img {
        width: 100%;
    }

    .botao {
        background: #EE2211;
        padding: 1rem 2rem;
        border-radius: 4px;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
    }
    .botao:hover {
        background: #ad1a0c;
    }

        /* segunda parte */

            .conteudo2 {
                text-align: right;
                background: white;
                padding: 2rem;
                display: grid;
                justify-items: right;   
                place-content: center;     
            }

            .item {
                display: grid;
                grid-template-columns: 2rem 1fr;
                gap: 10px 30px;
                justify-items: left;
                text-align: left;
                padding: 25px;
            }

            .item:hover {
                border-left: 4px solid #EE2211;
            }

            .item:nth-child(odd){
                background: #f7f7f7;
            }
                

            .item p {
                grid-column: 2;
            }

            .vantagens {
                color: rgb(214, 214, 214);
                background: url(./onda.svg);
                padding: 30px;
                align-self: center;
                font-size: 60px;
                font-weight: bold;
                text-transform: uppercase;
                text-align: right;
            }

footer {
    background: white;
    text-align: center;
    width: 100%;
    height: 100px;
    display: grid;
    place-content: center;
    padding: 30px;
    box-sizing: border-box;
}